

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>

        <nav>
            <button type='submit'><a href="register">Regsiter</a></button>
            <button type='submit'><a href="my-login">Login</a></button>
            <button type='submit'><a href="logout">Logout</a></button>
            <button type='submit'><a href="dashboard">Dashboard</a></button>
        </nav>
    

    </header>

    <main>

        <h2>Home Page</h2>

    </main>
   


    
</body>
</html>
